# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
_site/
assets/css/*.css
assets/css/*.css.map

# Jekyll
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# macOS
.DS_Store

# Editor files
.vscode/
.idea/

# Ruby / Bundler
.bundle/
vendor/
